<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybatis.exercise.persistence.mapper.CouponRegistrationMapper">

  <resultMap id="registrationMap" type="CouponRegistration" >
		<id column="registration_id" property="registrationId"  />
		<result column="coupon_code" property="couponCode" />
		<result column="winner" property="winner" />
		<result column="submission_ts" property="submissionTs" />
		<association property="user" resultMap="mybatis.exercise.persistence.mapper.UserMapper.usersMap"/>
		<association property="territory" resultMap="mybatis.exercise.persistence.mapper.TerritoryMapper.territoryMap"/>
	</resultMap>

  <insert id="insertCouponRegistration" parameterType="CouponRegistration"  useGeneratedKeys="true" keyProperty="registrationId" keyColumn="registration_id">
	    INSERT INTO coupon_registration (
	    COUPON_CODE,
	    USER_ID,
	    TERRITORY_ID,
	    WINNER,
	    SUBMISSION_TS,
	    CRE_TS,
	    MOD_TS,
	    VERSION)
	    VALUES (
	    #{couponCode}, #{user.userId}, #{territory.territoryId},#{winner},#{submissionTs},current_timestamp,current_timestamp,0)
  </insert>
  
  <update id="updateCouponRegistration" parameterType="CouponRegistration" >
	    UPDATE coupon_registration (
	    set 
	    WINNER = #{winner},
	    MOD_TS = current_timestamp,
	    VERSION = VERSION +1)
	    where registration_id = #{registrationId}
	    and VERSION = VERSION;
  </update>
  
  <select id="getCouponRegistrationByCouponCode" resultMap="registrationMap" parameterType="java.lang.String" >
	    SELECT registration_id,
	    coupon_code,
	    user_id,
	    territory_id,
	    winner,
	    submission_ts,
	    t.nr_balls_per_day,
		t.nr_balls_per_campaign,
		t.vinning_rate,
		u.first_name,
		u.last_name,
		u.birth_date,
		u.email_address
	    from coupon_registration c, territories t, users u
	    where c.territory_id = t.territory_id
	    and u.user_id = c.user_id
	    and coupon_code = #{couponCode}
  </select>
  
</mapper>